/* CSS 스타일 */
.CardDiv{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    border: none;
}
.CardMain {
    overflow: hidden; /* 넘치는 내용을 숨기기 */
    display: flex;
    width: 100%;
}

.Card {
    padding: 10px;
    box-sizing: border-box;
}

.CardText {
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
    max-width: 100%;
}

.CardHeader{
    background-color: cyan;
}
.CardTitle {
    margin-bottom: 0.5rem;
}

.CardCountContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.CardCount {
    margin: 0;
}
